In [ ]:
!pip install pyspark findspark

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [ ]:
spark = (
    SparkSession.builder.master('local[*]')
    .appName('Criando Dataframes')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [ ]:
spark

# Dicion√°rio

In [ ]:
dados = [
    {'nome': 'Dalton', 'idade': 27}, 
    {'nome': 'Matheus', 'idade': 28},
    {'nome': 'Rebeca', 'idade': 28}
]

In [ ]:
schema = StructType([
    StructField("nome", StringType(), True),
    StructField("idade", IntegerType(), True)
])

In [ ]:
df = spark.createDataFrame(dados, schema)

In [ ]:
dados2 = [
    ('Dalton', 27),
    ('Alice', 41),
    ('Lara', 25)
]

# Tupla

In [ ]:
dados2

In [ ]:
df2 = spark.createDataFrame(dados2, ['nome', 'idade'])

# Schema com o tipo de dado

In [ ]:
schema = StructType([
    StructField('nome', StringType(), True),
    StructField('idade', IntegerType(), True)
])

In [ ]:
schema

In [ ]:
df3 = spark.createDataFrame(dados2, schema)

# Usando a estrutura Row

In [ ]:
from pyspark.sql import Row

In [ ]:
rdd = [
    Row('Dalton', 27),
    Row('Matheus', 28)
]

In [ ]:
rdd

In [ ]:
spark.createDataFrame(rdd, "_1: string, _2: int")