In [1]:
!pip install pyspark findspark

Requirement already satisfied: pyspark in /home/casa/anaconda3/lib/python3.11/site-packages (3.3.2)
Requirement already satisfied: findspark in /home/casa/anaconda3/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.5 in /home/casa/anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.5)

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [16]:
spark = (
    SparkSession.builder.master('local[*]')
    .appName('Curso PySpark part04')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [ ]:
spark

In [8]:
autores = spark.read.parquet('./DATASETS/AUTORES.parquet')
livros = spark.read.parquet('./DATASETS/LIVROS.parquet')
clientes = spark.read.parquet('./DATASETS/CLIENTES.parquet')
compras = spark.read.parquet('./DATASETS/COMPRAS.parquet')

In [9]:
autores.show(20, False)

+---------+----------------------------+--------------------------+
|id       |titulo                      |autor                     |
+---------+----------------------------+--------------------------+
|106042959|1984                        |George Orwell             |
|017551704|200 Crônicas Escolhidas     |Rubem Braga               |
|054099410|A Alma Encantadora das Ruas |João do Rio               |
|128422117|A Biblioteca da Meia-Noite  |Matt Haig                 |
|049141399|A Coleira do Cão            |Rubem Fonseca             |
|065490862|A Cor Púrpura               |Alice Walker              |
|029077001|A Educação Sentimental      |Gustave Flaubert          |
|032275599|A Escrava Isaura            |Bernardo Guimarães        |
|090690941|A Estrela Sobe              |Marques Rebelo            |
|095695255|A Hora da Estrela           |Clarice Lispector         |
|036365230|A Hora dos Ruminantes       |José J. Veiga             |
|069146824|A Letra Escarlate           |Nathaniel Hawthorne       |
|025903823|A Metamorfose               |Franz Kafka               |
|015903574|A Montanha Mágica           |Thomas Mann               |
|076938216|A Moreninha                 |Joaquim Manuel de Macedo  |
|010325500|A Obscena Senhora D         |Hilda Hilst               |
|095678890|A Paixão Segundo G.H.       |Clarice Lispector         |
|073269564|A Revolução dos Bichos      |George Orwell             |
|076121829|A Rosa do Povo              |Carlos Drummond de Andrade|
|087365849|A Senhorita Simpson         |Sérgio Sant’anna          |
+---------+----------------------------+--------------------------+
only showing top 20 rows

In [11]:
autores.join(other=livros, on='id', how='left').show(20, False)

+---------+----------------------------+--------------------------+------------------+---------------+-------------+-------------+--------------+------+
|id       |titulo                      |autor                     |cnpj_editora      |data_lancamento|ean          |isbn10       |numero_paginas|preco |
+---------+----------------------------+--------------------------+------------------+---------------+-------------+-------------+--------------+------+
|106042959|1984                        |George Orwell             |null              |null           |null         |null         |null          |null  |
|017551704|200 Crônicas Escolhidas     |Rubem Braga               |14.857.032/0001-12|2018-10-19     |2352660010751|0-7433-6026-5|645           |44.38 |
|054099410|A Alma Encantadora das Ruas |João do Rio               |null              |null           |null         |null         |null          |null  |
|128422117|A Biblioteca da Meia-Noite  |Matt Haig                 |null              |null           |null         |null         |null          |null  |
|049141399|A Coleira do Cão            |Rubem Fonseca             |null              |null           |null         |null         |null          |null  |
|065490862|A Cor Púrpura               |Alice Walker              |null              |null           |null         |null         |null          |null  |
|029077001|A Educação Sentimental      |Gustave Flaubert          |null              |null           |null         |null         |null          |null  |
|032275599|A Escrava Isaura            |Bernardo Guimarães        |49.037.512/0001-11|2001-05-15     |2964406383663|1-83335-705-1|752           |184.42|
|090690941|A Estrela Sobe              |Marques Rebelo            |null              |null           |null         |null         |null          |null  |
|095695255|A Hora da Estrela           |Clarice Lispector         |94.567.038/0001-94|2015-04-23     |4084520465552|0-7650-7381-1|572           |83.33 |
|036365230|A Hora dos Ruminantes       |José J. Veiga             |null              |null           |null         |null         |null          |null  |
|069146824|A Letra Escarlate           |Nathaniel Hawthorne       |null              |null           |null         |null         |null          |null  |
|025903823|A Metamorfose               |Franz Kafka               |64.315.082/0001-46|2006-01-05     |7561853479861|0-10-032263-8|760           |215.52|
|015903574|A Montanha Mágica           |Thomas Mann               |25.908.643/0001-69|2006-03-03     |7694802204365|0-931131-95-2|600           |90.22 |
|076938216|A Moreninha                 |Joaquim Manuel de Macedo  |null              |null           |null         |null         |null          |null  |
|010325500|A Obscena Senhora D         |Hilda Hilst               |27.689.540/0001-80|2000-09-09     |8793472196570|0-933627-98-X|306           |30.62 |
|095678890|A Paixão Segundo G.H.       |Clarice Lispector         |null              |null           |null         |null         |null          |null  |
|073269564|A Revolução dos Bichos      |George Orwell             |null              |null           |null         |null         |null          |null  |
|076121829|A Rosa do Povo              |Carlos Drummond de Andrade|null              |null           |null         |null         |null          |null  |
|087365849|A Senhorita Simpson         |Sérgio Sant’anna          |null              |null           |null         |null         |null          |null  |
+---------+----------------------------+--------------------------+------------------+---------------+-------------+-------------+--------------+------+
only showing top 20 rows

In [12]:
autores.join(other=livros, on='id', how='right').show(20, False)

+---------+---------------------------------+-------------------+------------------+---------------+-------------+-------------+--------------+------+
|id       |titulo                           |autor              |cnpj_editora      |data_lancamento|ean          |isbn10       |numero_paginas|preco |
+---------+---------------------------------+-------------------+------------------+---------------+-------------+-------------+--------------+------+
|102961160|null                             |null               |54.317.982/0001-79|2011-09-19     |4367115749184|0-06-594558-1|516           |113.84|
|043636240|null                             |null               |16.938.042/0001-08|2019-05-11     |1239569754256|0-611-23680-X|371           |207.67|
|052928059|null                             |null               |57.624.038/0001-52|2003-08-03     |5462162528221|1-109-29542-1|198           |107.89|
|088482271|null                             |null               |16.249.378/0001-63|2022-09-07     |5713629047213|1-229-68842-0|632           |143.95|
|028125446|null                             |null               |90.425.178/0001-77|2011-07-25     |2226757040245|0-657-66391-3|384           |156.49|
|055610005|null                             |null               |20.756.194/0001-67|2006-03-22     |2114468195241|0-455-43278-3|419           |37.08 |
|049806867|null                             |null               |93.617.240/0001-10|2022-02-17     |3166123637398|1-4822-8784-6|378           |162.97|
|102803370|null                             |null               |48.760.531/0001-09|2011-12-13     |2550608407612|0-399-05121-X|732           |75.62 |
|084858867|null                             |null               |10.752.843/0001-06|2015-04-30     |6207011925788|1-03-549652-6|635           |237.67|
|059303729|null                             |null               |05.129.783/0001-21|2001-08-25     |1641133648784|0-620-46508-5|107           |61.41 |
|064175052|null                             |null               |65.301.927/0001-07|2008-05-29     |6905480714673|1-876722-64-9|795           |85.56 |
|080608956|Viva o Povo Brasileiro           |João Ubaldo Ribeiro|90.563.247/0001-09|2011-10-05     |0332981484891|1-925760-25-1|203           |107.63|
|018453254|Grande Sertão: Veredas           |Guimarães Rosa     |95.367.280/0001-87|2012-11-02     |0507454098268|0-609-21722-4|043           |52.94 |
|021765997|As Aventuras de Huckleberry Finn |Mark Twain         |59.374.801/0001-60|2014-05-17     |4743679337089|1-85580-232-5|499           |143.43|
|023911383|Catatau                          |Paulo Leminski     |98.526.047/0001-98|2005-11-12     |4165252098109|1-369-22273-4|599           |121.0 |
|029667220|null                             |null               |20.136.498/0001-21|2008-09-22     |9813450961422|0-466-92503-4|474           |175.32|
|030099528|Retrato do Artista Quando Jovem  |James Joyce        |28.103.975/0001-64|2000-02-06     |9164658045347|0-904222-71-3|292           |208.39|
|034553086|null                             |null               |29.507.683/0001-50|2016-12-29     |7318970609554|1-4989-7802-9|540           |113.52|
|035350343|null                             |null               |25.491.073/0001-54|2003-11-29     |7630092024962|1-957157-95-X|109           |58.61 |
|017477529|null                             |null               |39.507.184/0001-16|2005-09-23     |5930606400018|1-393-77728-7|747           |232.65|
+---------+---------------------------------+-------------------+------------------+---------------+-------------+-------------+--------------+------+
only showing top 20 rows

In [ ]:
compras.join(other=livros, on=compras.cd_livro == livros.id, how='inner')

In [23]:
cond = [compras.cd_livro == livros.id, livros.preco < 20, compras.cartao_bandeira == 'American Express']

In [ ]:
compras.join(livros, cond, 'inner')

In [25]:
df1 = autores.where(autores.id.isin('106042959', '017551704', '054099410'))

In [27]:
df2 = livros.where(livros.id.isin('017551704'))

In [28]:
# Inner (O que tem de igual no centro)
df1.join(df2, 'id', 'inner')

+---------+--------------------+-----------+------------------+---------------+-------------+-------------+--------------+-----+
|       id|              titulo|      autor|      cnpj_editora|data_lancamento|          ean|       isbn10|numero_paginas|preco|
+---------+--------------------+-----------+------------------+---------------+-------------+-------------+--------------+-----+
|017551704|200 Crônicas Esco...|Rubem Braga|14.857.032/0001-12|     2018-10-19|2352660010751|0-7433-6026-5|           645|44.38|
+---------+--------------------+-----------+------------------+---------------+-------------+-------------+--------------+-----+

In [29]:
# Left Join (Tudo que ta no 1 data frame, mas o centro dos dois dataframe)
df1.join(df2, 'id', 'left')

+---------+--------------------+-------------+------------------+---------------+-------------+-------------+--------------+-----+
|       id|              titulo|        autor|      cnpj_editora|data_lancamento|          ean|       isbn10|numero_paginas|preco|
+---------+--------------------+-------------+------------------+---------------+-------------+-------------+--------------+-----+
|106042959|               1984 |George Orwell|              null|           null|         null|         null|          null| null|
|017551704|200 Crônicas Esco...|  Rubem Braga|14.857.032/0001-12|     2018-10-19|2352660010751|0-7433-6026-5|           645|44.38|
|054099410|A Alma Encantador...|  João do Rio|              null|           null|         null|         null|          null| null|
+---------+--------------------+-------------+------------------+---------------+-------------+-------------+--------------+-----+

In [30]:
# Right Join (Tudo que ta no 2 data frame, mas o centro dos dois dataframe)
df1.join(df2, 'id', 'right')

+---------+--------------------+-----------+------------------+---------------+-------------+-------------+--------------+-----+
|       id|              titulo|      autor|      cnpj_editora|data_lancamento|          ean|       isbn10|numero_paginas|preco|
+---------+--------------------+-----------+------------------+---------------+-------------+-------------+--------------+-----+
|017551704|200 Crônicas Esco...|Rubem Braga|14.857.032/0001-12|     2018-10-19|2352660010751|0-7433-6026-5|           645|44.38|
+---------+--------------------+-----------+------------------+---------------+-------------+-------------+--------------+-----+

In [31]:
df3 = livros.where(livros.id.isin('017551704', '028125446', '049806867'))
df3

+---------+------------------+---------------+-------------+-------------+--------------+------+
|       id|      cnpj_editora|data_lancamento|          ean|       isbn10|numero_paginas| preco|
+---------+------------------+---------------+-------------+-------------+--------------+------+
|028125446|90.425.178/0001-77|     2011-07-25|2226757040245|0-657-66391-3|           384|156.49|
|049806867|93.617.240/0001-10|     2022-02-17|3166123637398|1-4822-8784-6|           378|162.97|
|017551704|14.857.032/0001-12|     2018-10-19|2352660010751|0-7433-6026-5|           645| 44.38|
+---------+------------------+---------------+-------------+-------------+--------------+------+

In [32]:
# Full Join (Vai juntar os dois dataframes)
df1.join(df3, 'id', 'full')

+---------+--------------------+-------------+------------------+---------------+-------------+-------------+--------------+------+
|       id|              titulo|        autor|      cnpj_editora|data_lancamento|          ean|       isbn10|numero_paginas| preco|
+---------+--------------------+-------------+------------------+---------------+-------------+-------------+--------------+------+
|017551704|200 Crônicas Esco...|  Rubem Braga|14.857.032/0001-12|     2018-10-19|2352660010751|0-7433-6026-5|           645| 44.38|
|028125446|                null|         null|90.425.178/0001-77|     2011-07-25|2226757040245|0-657-66391-3|           384|156.49|
|049806867|                null|         null|93.617.240/0001-10|     2022-02-17|3166123637398|1-4822-8784-6|           378|162.97|
|054099410|A Alma Encantador...|  João do Rio|              null|           null|         null|         null|          null|  null|
|106042959|               1984 |George Orwell|              null|           null|         null|         null|          null|  null|
+---------+--------------------+-------------+------------------+---------------+-------------+-------------+--------------+------+

In [ ]:
# Cruza os registros
df1.join(df3, how='cross').orderBy('titulo')

In [35]:
# Anti join pega os registros exclusivos do dataframe A
df1.join(df3, 'id', 'anti')

+---------+--------------------+-------------+
|       id|              titulo|        autor|
+---------+--------------------+-------------+
|106042959|               1984 |George Orwell|
|054099410|A Alma Encantador...|  João do Rio|
+---------+--------------------+-------------+

In [ ]:
df4 = df3.union(df3)
df4

In [37]:
# Tem a mesma função do Inner Join só que remove duplicidade
df1.join(df4, 'id', 'semi')

+---------+--------------------+-----------+
|       id|              titulo|      autor|
+---------+--------------------+-----------+
|017551704|200 Crônicas Esco...|Rubem Braga|
+---------+--------------------+-----------+